body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666;
}

section {
  margin: 0 auto;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  text-align: left;
  color: #111;
  margin-bottom: 15px;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #222;
  margin-top: 10px;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 14px;
  text-align: center;
  color: #222;
}

h5 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #222;
  margin-bottom: 0;
}

h6 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #666;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 5px;
  background: #34c759;
  width: 175px;
  height: 42px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.btn:hover {
  background: #2b9c48;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #666;
}

.default-width {
  max-width: 1169px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

#to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #34c759;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 2em;
  /* Increase font size */
}

#to-top:hover {
  background-color: #2b9c48;
  /* Add a darker background on hover */
}

#to-top:active {
  background-color: #666;
}

@media (min-width: 500px) {
  #to-top {
    margin: 30px;
  }
}

.login {
  margin-bottom: 5px;
}

.login form {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login form * {
  margin: 5px 0 0 20px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  background-color: white;
}

.login form input {
  border: 1px solid #34c759;
}

.login form button {
  border: none;
  cursor: pointer;
  background-color: #d3f4dc;
}

.header .nav {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav div:nth-child(1) {
  margin-right: auto;
}

.header .nav div:nth-child(1n + 2) {
  margin-left: 35px;
}

.header .nav .btn {
  border: 0.25px solid #666;
  color: #222;
  background: white;
}

.header .nav .btn:hover {
  background-color: #f2f2f2;
}

.header .burger {
  display: none;
}

.header .hero {
  margin: 50px 0 75px 0;
  background-color: #fafafa;
}

.header .hero div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hero div:nth-child(1) div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
  margin-top: 0px;
}

.header .hero div:nth-child(1) div:nth-child(1) p:not(.btn) {
  padding-right: 70px;
  font-size: 20px;
  line-height: 32px;
}

.header .hero div:nth-child(1) div:nth-child(1) .btn a {
  color: white;
}

.header .hero div:nth-child(1) div:nth-child(2) {
  width: 52%;
}

.header .hero img {
  width: 814px;
  height: 560px;
  max-width: 700px;
  height: auto;
}

.sponsors {
  padding: 0 15px;
  border-top: 0.25px solid #707070;
  border-bottom: 0.25px solid #707070;
  margin-bottom: 60px;
}

.sponsors div {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1050px;
}

.sponsors img {
  padding: 0 20px 0 20px;
}

.features .title {
  padding: 1px 0 10px 0;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 265px;
  height: 328px;
  border-radius: 5px;
  border: 0.25px solid #707070;
}

.features .cards-item img,
.features .cards-item h6,
.features .cards-item h4 {
  margin: 0 auto;
}

.features .cards-item img {
  max-width: 61px;
  height: auto;
  padding-top: 10px;
}

.features .cards-item h4 {
  margin: 10px 0 30px 0;
}

.features .cards-item h6 {
  padding: 0 35px 10px 35px;
}

.features .cards-item-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
}

.you-need {
  background-image: url(../assets/background_.png), url(../assets/bg_01.png);
  background-position-y: center;
  background-blend-mode: multiply;
  background-size: cover;
  margin: 180px 0 130px 0;
  width: 100%;
}

.you-need .default-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.you-need .default-width h2,
.you-need .default-width h4,
.you-need .default-width h5,
.you-need .default-width h6 {
  color: white;
  text-align: left;
}

.you-need .default-width .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 130px;
}

.you-need .default-width .left h2 {
  margin-top: 10px;
}

.you-need .default-width .left div:nth-child(1) {
  width: 100%;
  margin-bottom: 35px;
  padding-right: 66px;
}

.you-need .default-width .left div:nth-child(1n + 2) {
  width: 33%;
}

.you-need .default-width .left div:nth-child(1n + 2) h4,
.you-need .default-width .left div:nth-child(1n + 2) h6 {
  margin: 15px 0;
  padding-right: 10px;
}

.you-need .default-width .right {
  width: 49%;
}

.you-need .default-width .right img {
  height: 656px;
  position: relative;
  margin-top: -125px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
}

.send-message {
  padding: 0 20px;
  max-width: 800px;
}

.send-message h4 {
  text-align: left;
  margin: 40px 0 10px 0;
}

.send-message h3 {
  margin: 0;
  margin: 0 0 5px 0;
}

.send-message input,
.send-message textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  border: 1px solid #222;
  border-radius: 4px;
}

.send-message textarea {
  height: 160px;
  resize: none;
}

.send-message .btn {
  height: 80px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-size: 22px;
  margin: 20px 0 0 auto;
}

.solution {
  background-image: url(../assets/background_.png), url(../assets/bg_01.png);
  background-position-y: center;
  background-blend-mode: multiply;
  background-size: cover;
}

.solution div {
  width: 530px;
  height: 523px;
  margin: 120px auto 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solution div h6 {
  color: #fafafa;
  opacity: 0.6;
  margin-bottom: 0;
}

.solution div h2 {
  margin: 20px 0;
}

.solution div button {
  margin-top: 10px;
}

.blog .default-width div:nth-child(1n + 2) {
  margin: 0 auto 0 auto;
  padding: 0 10px 0 10px;
}

.blog .default-width div:nth-child(1n + 2) img {
  border-radius: 5px;
  max-width: 266px;
  height: auto;
}

.blog .default-width div:nth-child(1n + 2) h5 {
  text-align: left;
  margin-right: 30px;
}

.blog .default-width div:nth-child(1n + 2) h6 {
  margin-top: 6px;
  text-align: left;
  color: #666;
}

.blog .default-width div:nth-child(1n + 2) .fas {
  font-size: 7px;
  position: relative;
  bottom: 2px;
}

.blog .default-width .slick-list {
  width: 1169px;
}

.blog .default-width .slick-list .draggable {
  max-width: 1120px;
}

.footer {
  margin-top: 140px;
  background-color: #2a2a2a;
  height: 390px;
}

.footer h5,
.footer h6 {
  color: white;
}

.footer .default-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 80px;
  height: 300px;
}

.footer .default-width > div {
  width: 25%;
}

.footer .default-width h5,
.footer .default-width h6 {
  color: white;
  text-align: left;
}

.footer .default-width h6 {
  margin: 0;
}

.footer .default-width h5 {
  margin-bottom: 30px;
}

.footer .default-width .socmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .default-width .socmedia-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  color: white;
}

.footer .default-width .socmedia-left .fab {
  line-height: 24px;
}

@media all and (max-width: 800px) {
  .default-width {
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 30px;
  }
  .login form {
    height: 45px;
  }
  .header .hero {
    margin: 25px 0 75px 0;
  }
  .header .hero h1 {
    position: absolute;
    font-size: 6vw;
    top: 120px;
    margin-top: 40px;
    width: 70%;
    line-height: 60px;
  }
  .header .hero p {
    margin-top: 160px;
  }
  .header .hero div:nth-child(1) p:not(.btn) {
    width: 63%;
  }
  .header .hero div:nth-child(1) div:nth-child(2) {
    width: 40%;
  }
  .header .hero img {
    max-width: 400px;
    position: absolute;
    top: 235px;
    right: 15px;
  }
  .sponsors {
    margin-bottom: 50px;
  }
  .you-need .default-width .left {
    padding-top: 0;
  }
  .you-need .default-width h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
  }
  .you-need .default-width .right {
    width: 46%;
  }
  .you-need .default-width .right img {
    max-height: 500px;
    margin-top: -96px;
    right: 5px;
    height: 460px;
  }
  .features .cards-item {
    max-width: 220px;
  }
  .features .cards-item:nth-child(4) {
    display: none;
  }
}

@media all and (max-width: 430px) {
  .default-width {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  h1 {
    font-size: 4.5vw;
  }
  .login form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 7px;
    height: 100px;
  }
  .login form button {
    font-size: 20px;
    height: 38px;
    margin: 10px 0 0 10px;
  }
  .login form input {
    height: 40px;
    margin: 5px 0 0 0;
  }
  .login form a {
    padding: 13px 6px;
  }
  .login .mobhide {
    display: none;
  }
  .header .burger {
    display: block;
    color: #34c759;
    font-size: 35px;
    text-align: right;
    padding-right: 10px;
  }
  .header .burger ul {
    display: none;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    left: 120px;
    top: 170px;
  }
  .header .burger ul li {
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid white;
    width: 150px;
    margin-left: auto;
    background-color: #34c759;
    border-radius: 6px;
  }
  .header .burger ul li a {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .nav div:nth-child(1) {
    margin-right: auto;
    position: absolute;
    left: 10px;
  }
  .header .nav div:nth-child(1n + 2) {
    margin-left: 9%;
  }
  .header .nav .mobhide {
    display: none;
  }
  .header .hero .default-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .hero {
    margin: 25px 0 55px 0;
  }
  .header .hero h1 {
    position: relative;
    margin-top: 15px;
    width: 100%;
    top: 0;
    font-size: 9.5vw;
    line-height: 1.5;
    padding-left: 10px;
  }
  .header .hero div:nth-child(1) div:nth-child(1) p:not(.btn) {
    width: 100%;
    font-size: 19px;
    padding: 0;
    margin-top: 0;
    padding-left: 10px;
  }
  .header .hero .btn {
    margin: 0 auto;
  }
  .header .hero img {
    max-width: 290px;
    position: relative;
    top: 0;
    margin-top: -30px;
    right: -15px;
  }
  .sponsors {
    margin-bottom: 30px;
  }
  .sponsors div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features {
    margin: 0 10px 420px 10px;
  }
  .features .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features .anim01, .features .anim02, .features .anim03, .features .anim04 {
    opacity: 1;
    position: absolute;
    top: 1070px;
  }
  .features .anim01 div:hover, .features .anim02 div:hover, .features .anim03 div:hover, .features .anim04 div:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .features .anim01 {
    background-color: lightpink;
    -webkit-animation-name: example01;
            animation-name: example01;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .features .anim02 {
    background-color: lightgreen;
    -webkit-animation-name: example02;
            animation-name: example02;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .features .anim03 {
    background-color: lightblue;
    -webkit-animation-name: example03;
            animation-name: example03;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes example01 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes example01 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes example02 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes example02 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes example03 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes example03 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .you-need {
    margin: 80px 0;
  }
  .you-need .default-width {
    margin: 0 10px;
  }
  .you-need div {
    padding-right: 0 !important;
  }
  .you-need .left div:last-child {
    display: none;
  }
  .you-need .left div:nth-child(1n + 2) {
    width: 50% !important;
  }
  .you-need .right {
    display: none;
  }
  .you-need h2 {
    font-size: 35px;
    text-align: center;
  }
  .you-need h5 {
    text-align: center;
  }
  .send-message .btn {
    height: 50px;
  }
  .solution div {
    width: 300px;
  }
  .solution h2 {
    font-size: 35px;
  }
  .solution h6 {
    font-size: 16px;
  }
  .blog .default-width .slider__item h5 {
    width: 200px;
    padding-right: 100px;
  }
  .footer {
    padding: 10px 0;
    margin-top: 40px;
    height: 350px;
  }
  .footer .default-width {
    margin: 0 10px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .default-width div {
    width: 100%;
  }
  .footer .default-width div h5 {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 14px;
    line-height: 15px;
  }
  .footer .default-width div h6 {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .footer .default-width .socmedia:last-child h6 {
    text-align: left;
  }
  .footer .default-width .socmedia-left {
    width: 85%;
  }
  .footer .default-width .socmedia-left .fab {
    margin-right: 15px;
    text-align: right;
    line-height: 20px;
  }
  .footer > h6 {
    padding: 0 45px;
    margin: 20px 0 0 0;
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */