/* Commons vvv ====================== */
/* Brand color */
/* different media width */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666;
}

.default-width {
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 20px;
}

h2,
h4 {
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-size: 40px;
  color: white;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  color: #222;
}

h4 {
  font-size: 19px;
  line-height: 14px;
  color: #222;
}

h5 {
  font-size: 16px;
  color: #222;
}

h6 {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: #34c759;
  width: 175px;
  height: 46px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.btn:hover {
  background: #2b9c48;
  cursor: pointer;
}

/* Commons ^^^ ====================== */
/* Back to top button vvv */
.to-top-btn {
  /* Hidden by default */
  display: none;
  /* Fixed/sticky position */
  position: fixed;
  /* Place the button at the bottom of the page */
  bottom: 20px;
  /* Place the button 30px from the right */
  right: 30px;
  /* Make sure it does not overlap */
  z-index: 99;
  /* Set a background brand color */
  background-color: #34c759;
  /* Text color */
  color: white;
  /* Change a mouse pointer on hover */
  cursor: pointer;
  /* Some padding */
  padding: 15px;
  /* Rounded corners */
  border-radius: 10px;
  /* Increase font size */
  font-size: 2em;
  margin: 30px;
}

.to-top-btn:hover {
  /* Add a darker brand color on hover */
  background-color: #2b9c48;
}

.to-top-btn:active {
  /* Add a gray background on active */
  background-color: #666;
}

@media (max-width: 500px) {
  .to-top-btn {
    /*on phone - margins to zero */
    margin: 0;
  }
}

/* ^^^ Back to top button */
/* Login vvv */
.login form {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login form * {
  margin: 0 0 10px 10px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
}

.login input,
.login button {
  padding: 0 10px;
}

.login input {
  border: 1px solid #34c759;
}

.login button {
  cursor: pointer;
  /* I applied the Sass feature to lighten the brand color. */
  background-color: #d3f4dc;
}

@media (max-width: 500px) {
  .login form input {
    width: 30%;
  }
}

/* ^^^ Login */
/* Navigation menu vvv */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav > :nth-child(1) {
  margin-right: auto;
}

.nav > :nth-child(1n + 2) {
  margin-left: 1.5%;
}

.nav a {
  color: #666;
}

.nav .btn {
  border: 0.25px solid #666;
  color: #222;
  background: white;
}

.nav .btn:hover {
  background-color: #f2f2f2;
}

.burger,
.burger > ul {
  display: none;
}

.burger {
  color: #34c759;
  font-size: 35px;
  text-align: right;
  padding-right: 10px;
}

.burger ul {
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 99;
  right: 5%;
  top: 100px;
}

.burger ul li {
  font-size: 25px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid white;
  padding: 0 10px;
  background-color: #34c759;
  border-radius: 6px;
}

.burger ul li a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 500px) {
  .phone-hide {
    display: none;
  }
  .nav :nth-child(7) {
    margin-right: auto;
  }
  .burger {
    display: block;
  }
}

/* ^^^ Navigation menu */
/* Hero vvv */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
  height: 753px;
  background-color: #fafafa;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 35% 5% 18% 32%;
  -ms-grid-columns: 43% 57%;
      grid-template: 10% 35% 5% 18% 32% / 43% 57%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-wrapper h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: #111;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.grid-wrapper p {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
  font-size: 20px;
  line-height: 32px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.grid-wrapper h1,
.grid-wrapper p {
  z-index: 1;
}

.grid-wrapper button {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/1/6/2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.grid-wrapper img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/6/3;
  max-width: 113%;
  height: auto;
  margin-left: 30px;
}

@media (max-width: 1100px) {
  .hero {
    height: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .grid-wrapper {
    margin: 20px auto;
  }
  .grid-wrapper h1,
  .grid-wrapper p {
    line-height: normal;
  }
  .grid-wrapper h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
    font-size: 5vw;
  }
  .grid-wrapper p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 14px;
  }
  .grid-wrapper img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/6/3;
    max-width: 95%;
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .hero {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
  .grid-wrapper {
    -ms-grid-rows: 110px 100px 90px 280px;
    -ms-grid-columns: 100%;
        grid-template: 110px 100px 90px 280px / 100%;
  }
  .grid-wrapper h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    font-size: 32px;
    line-height: 45px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid-wrapper p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    font-size: 16px;
    line-height: 24px;
  }
  .grid-wrapper button {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .grid-wrapper img {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
}

/* ^^^ Hero */
/* sponsors vvv */
.sponsors {
  border-top: 0.25px solid #707070;
  border-bottom: 0.25px solid #707070;
}

.sponsors-logo {
  height: 102px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sponsors-logo img {
  padding: 10px;
}

@media (max-width: 500px) {
  .sponsors-logo {
    height: auto;
  }
}

/* ^^^ sponsors */
/* features vvv */
.features {
  padding: 80px 0 270px 0;
}

.features .title {
  text-align: center;
}

.features .title h5 {
  padding-bottom: 12px;
}

.features .title h3 {
  font-family: "PT Sans", sans-serif;
}

.features-cards {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.features-cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 266px;
  max-width: 266px;
  height: 328px;
  border-radius: 5px;
  border: 0.25px solid #707070;
  position: relative;
}

.features-cards-item img,
.features-cards-item h6,
.features-cards-item h4 {
  margin: 0 auto;
}

.features-cards-item img {
  padding: 10px 0 5px 0;
}

.features-cards-item h4 {
  margin: 10px 0 30px 0;
}

.features-cards-item h6 {
  padding: 0 35px 10px 35px;
}

.features-cards-item-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
}

.anim01 {
  background: lightblue;
  -webkit-animation: 50s linear 0s infinite move1;
          animation: 50s linear 0s infinite move1;
}

.anim02 {
  background: lightsalmon;
  -webkit-animation: 50s linear 12.5s infinite move2;
          animation: 50s linear 12.5s infinite move2;
}

.anim03 {
  background: #ffffba;
  -webkit-animation: 50s linear 25s infinite move3;
          animation: 50s linear 25s infinite move3;
}

.anim04 {
  background: lightgray;
  -webkit-animation: 50s linear 37.5s infinite move4;
          animation: 50s linear 37.5s infinite move4;
}

@-webkit-keyframes move1 {
  from {
    left: -266px;
  }
  to {
    left: 1064px;
  }
}

@keyframes move1 {
  from {
    left: -266px;
  }
  to {
    left: 1064px;
  }
}

@-webkit-keyframes move2 {
  from {
    left: -532px;
  }
  to {
    left: 798px;
  }
}

@keyframes move2 {
  from {
    left: -532px;
  }
  to {
    left: 798px;
  }
}

@-webkit-keyframes move3 {
  from {
    left: -798px;
  }
  to {
    left: 532px;
  }
}

@keyframes move3 {
  from {
    left: -798px;
  }
  to {
    left: 532px;
  }
}

@-webkit-keyframes move4 {
  from {
    left: -1064px;
  }
  to {
    left: 266px;
  }
}

@keyframes move4 {
  from {
    left: -1064px;
  }
  to {
    left: 266px;
  }
}

@media (max-width: 500px) {
  .features {
    padding: 60px 0 100px 0;
  }
}

/* ^^^ features */
/* you-need vvv */
.you-need {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../assets/background_.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/background_.png);
  background-position: center center;
  background-size: 1939px 1044px;
}

.you-need-wrapper {
  max-height: 625px;
  padding: 20px 0 97px 10px;
  display: -ms-grid;
  display: grid;
  /* Inserted one empty row and column, for margins between grid items */
  -ms-grid-rows: 1fr 0.1fr 0.65fr;
  -ms-grid-columns: (17%)[3] 4% 45%;
      grid-template: 1fr 0.1fr 0.65fr/repeat(3, 17%) 4% 45%;
}

.you-need-wrapper h4,
.you-need-wrapper h5,
.you-need-wrapper h6 {
  color: white;
  padding-right: 5px;
}

.you-need-wrapper h4 {
  margin: 15px 0;
}

.you-need-wrapper > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.you-need-wrapper > :nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.you-need-wrapper > :nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

.you-need-wrapper > :nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
}

.you-need-wrapper > :nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1/5/4/6;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  max-width: 504px;
  height: auto;
}

.you-need-wrapper > :nth-child(5) img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .you-need-wrapper {
    -ms-grid-rows: 1fr 0.1fr 0.65fr;
    -ms-grid-columns: (26%)[2] 3% 45%;
        grid-template: 1fr 0.1fr 0.65fr/repeat(2, 26%) 3% 45%;
  }
  .you-need-wrapper > :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1/1/2/5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 520px;
  }
  .you-need-wrapper > :nth-child(4) {
    display: none;
  }
  .you-need-wrapper > :nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2/4/4/5;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .you-need-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 60px 10px;
  }
  .you-need-wrapper > :nth-child(1) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 520px;
  }
  .you-need-wrapper > :nth-child(4) {
    display: block;
  }
  .you-need-wrapper > :nth-child(5) {
    display: none;
  }
}

/* ^^^ you-need */
/* send-message vvv */
.send-message {
  height: 840px;
  padding: 100px 20px 0 20px;
}

.send-message > :nth-child(1) {
  max-width: 800px;
  margin: 0 auto;
}

.send-message h4 {
  margin: 45px 0 10px 0;
  font-size: 22px;
}

.send-message h3 {
  text-align: center;
}

.send-message input,
.send-message textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: 1px solid #222;
  border-radius: 4px;
}

.send-message textarea {
  height: 160px;
  resize: none;
}

.send-message .btn {
  height: 80px;
  width: 220px;
  border-radius: 0px 4px 4px 0px;
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
  margin: 32px 0 0 auto;
}

/* ^^^ send-message */
/* solution vvv */
.solution {
  height: 523px;
  padding: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../assets/background_.png);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/background_.png);
  background-position: center center;
  background-size: 1939px 1044px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solution > :nth-child(1) {
  text-align: center;
  max-width: 600px;
}

.solution > :nth-child(1) h6 {
  color: #fafafa;
  opacity: 0.6;
  line-height: 18px;
  margin-bottom: 20px;
}

.solution > :nth-child(1) h2 {
  font-family: "Open Sans", sans-serif;
  line-height: 48px;
}

.solution > :nth-child(1) .btn {
  margin: 30px auto 0 auto;
}

/* ^^^ solution */
/* blog vvv */
.blog {
  height: 641px;
  padding-top: 117px;
}

.blog .title {
  text-align: center;
}

.blog .title h5 {
  font-size: 17px;
  margin-bottom: 5px;
}

.blog .tns-outer {
  margin-top: 20px;
}

.blog .slider__item {
  margin: 0 auto;
}

.blog .slider__item img {
  border-radius: 5px;
  max-width: 266px;
  height: auto;
  margin-bottom: 15px;
}

.blog .slider__item h5 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.blog .slider__item h6 {
  margin-top: 6px;
  text-align: left;
  color: #666;
}

.blog .slider__item .fas {
  font-size: 7px;
  position: relative;
  bottom: 2px;
}

/* ^^^ blog */
/* footer vvv */
.footer {
  background-color: #2a2a2a;
  padding: 90px 0 40px 0;
}

.footer h5,
.footer h6,
.footer .fab {
  color: white;
}

.footer h5 {
  margin-bottom: 28px;
}

.footer > h6 {
  font-size: 13px;
  text-align: center;
  white-space: normal;
}

.footer-grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px 0;
  margin-bottom: 135px;
}

.footer-grid-wrapper .socmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-grid-wrapper .socmedia-left {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-grid-wrapper .fab {
  padding-right: 20px;
}

/* ^^^ footer */
/*# sourceMappingURL=style.css.map */